@import url('commun.css');

body
{ 
  background-image:url('../images/bg_cea.png');
  background-repeat:repeat;
}

ul
{
  list-style-type:square;
}


/***************/
/* CSS du menu */
/***************/
div.menu
{ 
  border:0px;
  margin:0px;
  padding:0px;
}
div.menu div.menuHeader
{ 
  background-image:url('../images/menu_header_cea.png');
  height:7px;
  width:150px;
}
div.menu h2
{ 
  display:none;
}
div.menu div.menuFooter
{ 
  background-image:url('../images/menu_footer_cea.png');
  height:7px;
  width:150px;
}
div.menu div.menuMain
{
  margin:0px;
  margin-right:8px;
  margin-left:5px;
  padding:2px;
  background-color:#E9E9E9;
  border-right:1px solid #D0D0D0;
  border-left:1px solid #D0D0D0;
}

div.menu div.menuMain h3
{ 
  font-family:"gothic", sans-serif;
  font-weight:bold;
  color:#808080;
  font-size:120%;
  padding-left:5px;
  padding-top:15px;
  padding-bottom:5px;
  margin:0px;
}
div.menu ul
{
  margin:0px;
  padding:3px;
  padding-left:10px;
  list-style:none;
}
div.menu li
{
  padding-top:5px;
  padding-bottom:5px;
  border-top:2px solid #F0F0F0;
}
div.menu li.last
{
  border-bottom:2px solid #F0F0F0;
}
div.menu a
{ 
  color:#505050;
  text-decoration:none;
}
div.menu a:hover
{ 
  color:purple;
  text-decoration:none;
}
div.menu a.broken
{ 
  cursor:help;
  color:#BfBfBf;
  text-decoration:none;
}


/*****************/
/* CSS du header */
/*****************/
div.header
{ 
  background-color:#E9E9E9;
  border-right:1px solid #8f8f8f;
/*  border-left:1px solid #D0D0D0; */
  border-top:4px solid #75be36;
  border-bottom:4px solid #fdb61c;
  background-image:url("../images/sample.png");
  background-repeat:no-repeat;
}
div.header span.part
{
  color:#a000a0;
  border-bottom:1px solid white;
}




/***********************/
/* CSS du pied de page */
/***********************/
div.footer
{ 
  padding-left:20px;
  font-size:80%;
  background-color:#E9E9E9;
  border-top:1px solid #D0D0D0;
  border-bottom:1px solid #D0D0D0;
  color:#000000;
}
div.footer a
{ 
  color:#505050;
  text-decoration:none;
}
div.footer a:hover
{ 
  color:#8f8f8f;
  text-decoration:none;
}
