@import url('commun.css');

ul
{
  list-style:url('../images/point.png');
  list-style-position:outside;
}
a
{ 
  color:#D05050;
  text-decoration:none;
}
a:hover
{ 
  color:#D05050;
  text-decoration:underline;
}
a.ontop
{
  color: black;
  text-decoration:underline;
}
span.langInfo
{
/*   color:#902020;*/
  color:#909090;
}
code.emph
{ 
  color:#D05050;
}
div.floatingmenu
{
  border:1px solid #8f8f8f;
  background-color:#f2d4b0;
}
div.floatingmenu a
{ 
  color:#505050;
}
div.floatingmenu a:hover
{ 
  color:#D05050;
}
div.floatingmenu ul
{
  color:#D05050;
}
div.main pre
{
  border-left:5px solid #f2d4b0;
}

/***************/
/* CSS du menu */
/***************/
div.menu div.menuHeader
{ 
  height:10px;
  width:150px;
  background-image:url('../images/menu_header.png');
  margin:0px;
}
div.menu div.menuFooter
{ 
  height:10px;
  width:150px;
  background-image:url('../images/menu_footer.png');
  margin:0px;
}
div.menu h2
{ 
  display:none;
}
div.menu div.menuMain
{
  margin:0px;
  padding:0px;
  background-image:url('../images/menu_fond.png');
  background-repeat:repeat-y;
  padding-right:12px;
  padding-bottom:5px;
}

div.menu div.menuMain h3
{ 
  font-weight:bold;
  color:#808080;
  font-size:120%;
  padding-left:5px;
  padding-top:15px;
  padding-bottom:5px;
  margin:0px;
}
div.menu ul
{
  margin:0px;
  padding:3px;
  padding-left:15px;
  list-style:none;
}
div.menu li
{
  padding-top:5px;
  padding-bottom:5px;
  border-top:2px solid #F0F0F0;
}
div.menu li:hover
{
  background-color:#FFD1BA;
}
div.menu li.last
{
  border-bottom:2px solid #F0F0F0;
}
div.menu a
{ 
  color:#505050;
  text-decoration:none;
}
div.menu a:hover
{ 
  color:#D05050;
  text-decoration:none;
}
div.menu a.broken
{ 
  cursor:help;
  color:#BfBfBf;
  text-decoration:none;
}

div.submenu
{
  background-color:#f2d4b0;
}
div.submenu a
{
  color:#505050;
  text-decoration:none;
}
div.submenu a:hover
{
  color:#D05050;
  text-decoration:none;
  background-color:#FFD1BA;
}

div.personalarea
{
  background-color:#f2d4b0;
}

/*****************/
/* CSS du header */
/*****************/
div.header
{ 
  background-color:#D05050;
  background-image:url("../images/sample.png");
  background-repeat:no-repeat;
}
div.header span.part
{
  color:#505050;
  border-bottom:1px solid white;
}
div.visuInfoLogo
{ 
  color:white;
}
div.visuInfoLogo a
{ 
  color:#505050;
  text-decoration:underline;
}
div.version
{ 
  color:#e8e8e8;
  font-style:italic;
}

div.news
{ 
  background-image:url('../images/news.png');
  background-repeat:no-repeat;
}

/***********************/
/* CSS du pied de page */
/***********************/
div.footer
{ 
  padding-left:20px;
  font-size:80%;
  background-color:#F08080;
  color:#000000;
  border-top:1px solid #8f8f8f;
}
div.footer a
{ 
  color:#EfEfEf;
  text-decoration:none;
}
div.footer a:hover
{ 
  color:#DfDfDf;
  text-decoration:none;
}
